<%= form_with(model: counting, local: true) do |form| %>
  <% if counting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(counting.errors.count, "error") %> prohibited this counting from being saved:</h2>

      <ul>
      <% counting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.text_field :title %>
    <%= form.submit %>
  </div>
<% end %>
