<p id="notice"><%= notice %></p>

<h1>Countings</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Basic currency</th>
      <th>Target currency</th>
      <th>Amount</th>
      <th>Duration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @countings.each do |counting| %>
      <tr>
        <td><%= counting.id %></td>
        <td><%= counting.basic_currency %></td>
        <td><%= counting.target_currency %></td>
        <td><%= counting.amount %></td>
        <td><%= counting.duration %></td>
        <td><%= link_to 'Show', counting %></td>
        <td><%= link_to 'Edit', edit_counting_path(counting) %></td>
        <td><%= link_to 'Destroy', counting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Counting', new_counting_path %>
