<p id="notice"><%= notice %></p>
<br/>

<table border=1>
  <thead>
    <tr>
      <th>Basic currency</th>
      <th>Target currency</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Course</th>
      <th>Change of cource with now</th>
      <th>Total Result</th>
    </tr>
  </thead>

  <tbody>
    <% @rates.each do |rate| %>
      <tr>
        <td><%= @counting.basic_currency %></td>
        <td><%= @counting.target_currency %></td>
        <td><%= @counting.amount %></td>
        <td><%= rate.date %></td>
        <td><%= get_rate(rate, @counting) %></td>
        <!-- todo -->
        <% if get_change_course(@latest_rate, rate, @counting) > 0 %>
          <td style='color: green'><%= get_change_course(@latest_rate, rate, @counting) %></td>
        <% else %>
          <td style='color: red'><%= get_change_course(@latest_rate, rate, @counting) %></td>
        <% end %>
        <!-- todo. Variable must in the controller -->
        <td><%= get_rate(rate, @counting, true) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= column_chart @rates.map{ |rate| [rate.date, get_rate(rate, @counting, true)] } %>

</br>
<%= link_to 'Edit', edit_counting_path(@counting) %> |
<%= link_to 'Back', countings_path %>
