<p id="notice"><%= notice %></p>
<br/>

<h1>Basic currency - <%= @counting.basic_currency %></h1>
<h1>Target currency - <%= @counting.target_currency %></h1>
<h1>Duration - <%= @counting.duration %></h1>
<h1>Amount currency - <%= @counting.amount %></h1>
<h1>Course now - <%= @facade.latest_rate %></h1>

<% if @facade.data_is_loading %>
  <h1>Data is loading. Please wait and update the page.</h1>
<% end %>

<table border=1>
  <thead>
    <tr>
      <th>Number week in year</th>
      <th>Year</th>
      <th>Course</th>
      <th>Change of cource with now (Now - weekly)</th>
      <th>Total Result (money in target currency)</th>
    </tr>
  </thead>

  <tbody>
    <% @facade.table_data.each do |number_week, value| %>
      <tr>
        <td><%= number_week[:n_week] %></td>
        <td><%= number_week[:year] %></td>
        <td><%= value %></td>
        <td><%= (@facade.latest_rate - value).round(4) %></td>
        <td><%= (value * @counting.amount).round(4) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= line_chart @facade.chart_data, min: nil %>

</br>
<%= link_to 'Edit', edit_counting_path(@counting) %> |
<%= link_to 'Back', countings_path %>
