<p id="notice"><%= notice %></p>
<br/>

<table border=1>
  <thead>
    <tr>
      <th>Basic currency</th>
      <th>Target currency</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Number week in year</th>
      <th>Course</th>
      <th>Change of cource with now</th>
      <th>Total Result</th>
    </tr>
  </thead>

  <%= @latest_rate %>
  <tbody>
    <% @rates.each do |rate| %>
      <tr>
        <td><%= @counting.basic_currency %></td>
        <td><%= @counting.target_currency %></td>
        <td><%= @counting.amount %></td>
        <td><%= rate.date %></td>
        <td><%= rate.date.cweek %></td>
        <td><%= get_rate(rate.value, @counting) %></td>
        <!-- todo -->
        <td><%= (get_rate(rate.value, @counting) - @latest_rate).round(4) %></td>
        <!-- todo Variable must in the controller -->
        <td><%= get_rate(rate.value, @counting, true) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= line_chart @rates.map{ |rate| [rate.date, get_rate(rate.value, @counting, true)] }, min: nil %>

</br>
<%= link_to 'Edit', edit_counting_path(@counting) %> |
<%= link_to 'Back', countings_path %>
